# ignore all make dependency files
*.d
*.o
*.7z
*.ncb
*.ilk
*.opt
*.plg
*.suo
*.user
*.aps
*.clwbin/

.vs/
Debug/
Release/
out.txt
gspydos.exe
gsmaster
gsmaster.exe
q1servers.txt
q2servers.txt
qwservers.txt
kpservers.txt
